<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet"  href="../../static/stylesheet/style.css">
    <title>Ajax Notes</title>
</head>
<body>
    
    <h1 class="text-center"><u>My Notes</u></h1>
    {% if messages %}
        {% for message in messages %}
            <h4>{{ message }}</h4>
        {% endfor %}
    {% endif %}
    
    <div id="all_notes" class="container"></div>

    <form action="/new_note" method="post" id="create_ajax_form" class="m-4 text-center">
        {% csrf_token %}
        <textarea name="description" id="form_content" cols="30" rows="10" placeholder="Add description..."></textarea>
        <br>
        <input type="text" name="note" id="adding_new_note" placeholder="Insert note title">
        <button class='btn btn-primary' type="submit" id="submit_note">Add Note</button>
    </form>
    <script src="../../static/js/main.js"></script>
</body>
</html>