<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/login_registration/style.css">
    <title>Login and Regisration Success</title>
</head>
<body>
    <h1>Success!!! Welcome, {{user.first_name}} {{user.last_name}}</h1>
    <h3 class="success">Successfully registered (or logged in)!</h3>
    <form action="/logout" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>