<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Ajax Post</title>
</head>
<body>
    <h1 class=text-center>My Posts</h1>
    <div class="container" id="new_note"></div>
    <form action="/add_note" method="post" id="create_ajax_form" class="m-4">
        {% csrf_token %}
        <h2>Add a note:</h2>
        <textarea name="note" id="note_content" cols="30" rows="10"></textarea>
        <br>
        <input type="submit" value="Post it!" class="btn btn-primary">
    </form>
    <script>
        $("#create_ajax_form").submit(function(e){
            e.preventDefault()
            $.ajax({
                url: $(this).attr("action"),
                method: "post",
                data: $(this).serialize(),
                success: function(res) {
                    $("#new_note").html(res)
                }
            })
        })
    </script>
</body>
</html>