<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/courses/style.css">
    <title>Delete</title>
</head>
<body>
    <h1>Are you sure you want to delete the following courses?</h1>
    <h3>Name: {{course.name}}</h3>
    <h3>Description: {{course.description}}</h3> 
    <a href="/"><button class="no">NO</button></a>    
    <form action="/delete/{{course.id}}" method="post">
        {% csrf_token %}
        <button type="submit" class="yes">Yes I want to delete this</button>
    </form>
</body>
</html>