<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
</head>
<body>
    <h2>Your Gold: <input type="number" value="{{session['gold']}}"></h2>
    <form action="/reset" method="post">
        <input type="submit" value="Reset">
    </form>
    <div>
        <form action="/process" method="post">
            <p>Farm</p>
            <p>(earns 10-20 golds)</p>
            <input type="hidden" name="action" value='farm'>
            <input type="submit" value="Find Gold">
        </form>
    </div>
    <div>
        <form action="/process" method="post">
            <p>Cave</p>
            <p>(earns 5-10 golds)</p>
            <input type="hidden" name="action" value='cave'>
            <input type="submit" value="Find Gold">
        </form>
    </div>
    <div>
        <form action="/process" method="post">
            <p>House</p>
            <p>(earns 2-5 golds)</p>
            <input type="hidden" name="action" value='house'>
            <input type="submit" value="Find Gold">
        </form>
    </div>
    <div>
        <form action="/process" method="post">
            <p>Casino</p>
            <p>(earns/takes 0-50 golds)</p>
            <input type="hidden" name="action" value='casino'>
            <input type="submit" value="Find Gold">
        </form>
    </div>
    <div>
        <h2>Activity</h2>
        <ul>
            {% for message in session['message_board'] %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
</body> 
</html>