<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Session Words</title>
    <style>
        div{
            display: inline-block;
            width:500px;
            border:1px solid black;
            padding:50px;
        }
        .blue{
            color:blue;
        }
        .red{
            color:red;
        }
        .green{
            color:green;
        }
    </style>
</head>
<body>
    <div>
        <form action="/session_words/add_words" method="POST">
            <h4>Add a New Word</h4>
            {% csrf_token %}
            <p><input type="text" name="word"></p>
            <p>Choose a color</p>
            <input type="radio" name="color" value="red">Red
            <input type="radio" name="color" value="green">Green
            <input type="radio" name="color" value="blue">Blue
            <p><input type="checkbox" name="big_font">show in BIG font</p>
            <input type="submit" value="Add Word">
        </form>
    </div>
        
    <div>
        {% for word in words %}
          <p class="{{word.color}}" {% if word.big_font %} style="font-size:25px;" {% endif %} > {{word.word}} -added at {{word.timestamp}}</p>
        {% endfor %}
    </div>
</body>
</html>